
html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11/1.4px 'Helvetica Neue', sans-serif;
  color: #444;
  background: #022c49;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}